@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

:root {
  --color-1: #40BFFF;
  --color-2: #FF4858;
  --color-3: #BCDDFE;
  --color-4: #373737;

  --color-5: #F2F2F2;
  --color-6: #8C8C8C;
  --color-7: #545559;
  --color-8: #3B3B40;
  --color-9: #181D26;
}
body{
  background-color: var(--color-5);
  display: grid;
  place-items: center;
}
.font-5{
  color: var(--color-5);
}
.font-6{
  color: var(--color-6);
}
.font-7{
  color: var(--color-7);
}
.font-8{
  color: var(--color-8);
}
.font-9{
  color: var(--color-9);
}

.bg-5{
  background-color: var(--color-5);
}
.bg-6{
  background-color: var(--color-6);
}
.bg-7{
  background-color: var(--color-7);
}
.bg-8{
  background-color: var(--color-8);
}
.bg-9{
  background-color: var(--color-9);
}

.border-9{
  border-color: var(--color-9);
}

/* cart start */
.cart{
  animation: cart 600ms ease-out;
  -webkit-animation: cart 600ms ease-out;
}

@keyframes cart {
  from{
    translate:0 24em;
  }
  to{
    translate:0 0;
  }
}

/* cart end */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
