@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap'); */

:root {
  --color-1: #F2F2F2;
  --color-2: #8C8C8C;
  --color-3: #545559;
  --color-4: #3B3B40;
  --color-5: #181D26;
  --color-6: #FF4858;
}
body{
  background-color: var(--color-1);
  display: grid;
  place-items: center;
}
.font-5{
  color: var(--color-1);
}
.font-6{
  color: var(--color-2);
}
.font-7{
  color: var(--color-3);
}
.font-8{
  color: var(--color-4);
}
.font-9{
  color: var(--color-5);
}

.bg-5{
  background-color: var(--color-1);
}
.bg-6{
  background-color: var(--color-2);
}
.bg-7{
  background-color: var(--color-3);
}
.bg-8{
  background-color: var(--color-4);
}
.bg-9{
  background-color: var(--color-5);
}

.border-1{
  border-color: var(--color-1);
}

.border-2{
  border-color: var(--color-2);
}

.border-3{
  border-color: var(--color-3);
}

.border-4{
  border-color: var(--color-4);
}

.border-9{
  border-color: var(--color-5);
}

/* cart start */
.cart{
  animation: cart 600ms ease-out;
  -webkit-animation: cart 600ms ease-out;
}

@keyframes cart {
  from{
    translate:0 24em;
  }
  to{
    translate:0 0;
  }
}

/* cart end */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
